 <div class="container">
        <div class="row justify-content-center">
         <center>  <a href="/crossroads"> <img src="../assets/imgs/StacheLogoBlack.jpg" id="logo" width="35%"></a></center>

        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {{#each blog}}
            <div class="card" style="width: 100%; margin-bottom: 10px;">
                <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                    <h2 class="card-title">{{author}}</h2>
                  <p class="card-text">{{bloginput}}</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            {{/each}}
        </div>   

    </div>