  <div class="container">
        <div class="row justify-content-center">
           <center><a href="/crossroads"><img src="../assets/imgs/StacheLogoBlack.jpg" id="logo" width="35%"></a></center> 

        </div>
    </div>
    <div class="container cards">
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        
        </div>   

    </div>
