<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Stache In' Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/assets/style.css" type="text/css" />
  <script src="/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <img src="../public/assets/imgs/StacheLogoBlack.JPG" width="35%">

    </div>
    <center><h1>Stache up!</h1></center>
      <div class="row justify-content-center">
        <div class="col-md-6 col">

        <form>
          <div class="form-group">
            <label for="first">First Name</label>
            <input type="text" class="form-control" id="fname-input" placeholder="Stache">
          </div>
          <div class="form-group">
            <label for="last">Last Name</label>
            <input type="text" class="form-control" id="lname-input" placeholder="Man">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email-input" placeholder="StacheMan@email.com">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone-input" placeholder="555-555-5555">
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="SecretStache!">
          </div>
        </form>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </form>

      </div>
    </div>



  </div>
</body>

</html>