body {
    background-color:black;
    color:white;
    margin: auto;
}

#bloginput{
    font-size: 200%;
}

@media screen and (max-width: 768px) {
    #logo {
        width: 40%;
        height: 40%;
    }
}

